#projects {
    margin-left: 7rem;
}

.section__subtitle {
    text-align: center;
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    font-weight: 700;
    margin: 4rem;
}

.section__subtitle span {
    color: var(--first-color-light);
}

.projects__container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.875rem;
    column-gap: 1.875rem;
}

.project__card {
    position: relative;
    overflow: hidden;
    height: 12.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.project__mask {
    background: var(--first-color-full);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.project__card:hover .project__mask {
    opacity: 1;
}

.project__category {
    color: #fff;
    background-color: #ffd15c;
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.project__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transform: .3s;
    opacity: 0;
}

.project__button {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.project__img {
    height: 12.5rem;
    width: 100%;
}

.project__card:hover .project__button {
    opacity: 1;
}

.project__card:hover .project__title,
.project__card:hover .project__category {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1024px) {
    .projects__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .projects__container {
        grid-template-columns: 310px;
    }
}

@media screen and (max-width: 350px) {
    .projects__container {
        grid-template-columns: 1fr;
    }
}