.skills__container {
  grid-template-columns: 13rem 13rem 13rem;
  grid-template-rows: 9rem auto;
  justify-content: center;
  row-gap: 4rem;
  column-gap: 8rem;
}

.section__subtitle {
  text-align: center;
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  font-weight: 700;
  margin: 4rem;
}

.section__subtitle span {
  color: var(--first-color-light);
}

.skills__category{
  margin-left: 1rem;
}

.skills__item {
  grid-template-rows: 3rem repeat(3, 1fr);
  row-gap: 0.2rem;
  position: relative;
}

.skills__content {
  display: flex;
  align-items: center;
  border-radius: 5%;
  height: 3rem;
  background-color: var(--container-color);
  position: relative;
}

.skills__img {
  height: auto;
  width: 3rem;
  border-radius: 30%;
  padding: 0.5rem;
}

.skills__text {
  margin-left: 1.5rem;
  font-weight: var(--font-medium);
}

@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 175px 175px 175px;
    column-gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .skills__container {
    grid-template-columns: 200px;
    row-gap: 4rem;
  }

  .skills__item{
    grid-template-rows: auto;
  }

  .skills__category {
    margin-bottom: 0.75rem;
  }
}
